@switch (gamePhase) {
    @case (1) {
        <div class="choose-screen">
            <div class="your-choice">
                <span>You picked</span>
                <app-button [symbol]="choosedSymbol"></app-button>
            </div>
            <div class="oponent-choice">
                <span>The house picked</span>
                <div class="oponent-space">
                    @if (opponentSymbol) {
                        <app-button [symbol]="opponentSymbol"></app-button>
                    } @else {
                        <span>loading...</span>
                    }
                </div>
            </div>
        </div>
    }
    @case (2) {
        <div class="result-screen">
            <div class="your-choice">
                <span>You picked</span>
                <app-button [symbol]="choosedSymbol"></app-button>
            </div>
            <div class="result-status">
                <h1>You {{ result }}</h1>
                <button type="button" (click)="restartGame()">Play again</button>
            </div>
            <div class="oponent-choice">
                <span>The house picked</span>
                <div class="oponent-space">
                    @if (opponentSymbol) {
                        <app-button [symbol]="opponentSymbol"></app-button>
                    }
                </div>
            </div>
        </div>
    }
    @default {
        <div class="game">
            <app-button [symbol]="'paper'"></app-button>
            <app-button [symbol]="'scissors'"></app-button>
            <app-button [symbol]="'rock'"></app-button>
        
            <div class="connector">
                <div class="arrow-down"></div>
            </div>
        </div>
    }
}