<button title="rules" type="button" (click)="openDialog()">Rules</button>

@if (isOpen) {
    <div class="dialog">
        <div class="dialog-title">
            <h2>RULES</h2>
            <img src="./assets/close.svg" alt="close.svg" (click)="closeDialog()">
        </div>
        <div class="dialog-content">
            <div class="row">
                <img src="./assets/scissors-blank.svg" alt="Scissors">
                <div class="middle">
                    <span>BEATS</span>
                    <img src="./assets/left-arrow.svg" alt="Left arrow">
                </div>
                <img src="./assets/paper-blank.svg" alt="Paper">
            </div>

            <div class="row">
                <div class="left">
                    <span>BEATS</span>
                    <img src="./assets/diagonal-down.svg" alt="Diagonal arrow">
                </div>
                <div class="right">
                    <span>BEATS</span>
                    <img src="./assets/diagonal-up.svg" alt="Diagonal arrow">
                </div>
            </div>

            <div class="row">
                <img src="./assets/rock-blank.svg" alt="Rock">
            </div>
        </div>
    </div>
    <div class="dialog-overlay" (click)="closeDialog()"></div>
}