img
    transition-duration: .4s
    border-radius: 50%
    box-sizing: border-box

    @media screen and (max-width: 26.5625rem)
        max-width: 9.375rem

    &:hover
        cursor: pointer
        border-radius: 50%
        outline: 2rem solid rgba(151, 151, 151, 0.15)
        outline-offset: -0.4375rem